@import '../variables';

.sort {
  position: relative;
  font-family: Arial, sans-serif;

  @media (max-width: 425px) {
    width: 100%;
    text-align: center;
  }
  .sort__text {
    font-weight: 600;
    cursor: pointer;
    text-decoration: underline;
  }

  .sort__popup {
    padding: 10px;
    border: 1px solid $color-black;
    border-radius: 5px;
    background-color: $main-color;
    position: absolute;
    top: 130%;
    left: -10%;

    & li {
      padding: 5px 5px;
      border-radius: 3px;
      color: $color-black;
      cursor: pointer;
      transition: all 0.3s ease;
    }

    & li:hover {
      background-color: $color-white;
    }
  }

  .active {
    background-color: $color-white;
  }
}

