html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

:focus {
  outline: 0; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none; }

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

a:focus {
  outline: thin dotted; }

a:active,
a:hover {
  outline: 0; }

img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

figure {
  margin: 0; }

form {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

button[disabled],
html input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
button,
input,
select,
textarea {
  color: #222; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

.header {
  padding: 30px 10px;
  background-image: url("../../assets/images/background-01.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  @media (max-width: 768px) {
    .header {
      padding: 15px 10px; } }
  .header .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header .header__container .header__content {
      display: flex;
      align-items: center;
      text-decoration: none;
      outline: none; }
      .header .header__container .header__content .header__logoImg {
        width: 80px;
        height: 80px;
        transition: all 0.3s ease; }
        @media (max-width: 768px) {
          .header .header__container .header__content .header__logoImg {
            width: 50px;
            height: 50px; } }
        @media (max-width: 525px) {
          .header .header__container .header__content .header__logoImg {
            width: 35px;
            height: 35px; } }
        @media (max-width: 425px) {
          .header .header__container .header__content .header__logoImg {
            width: 30px;
            height: 30px; } }
      .header .header__container .header__content .header__name {
        margin-left: 50px; }
      .header .header__container .header__content .header__name span {
        font-family: Arial, sans-serif;
        font-weight: 900;
        font-size: 50px;
        color: #ffc200;
        transition: all 0.3s ease; }
        @media (max-width: 768px) {
          .header .header__container .header__content .header__name span {
            font-size: 35px; } }
        @media (max-width: 525px) {
          .header .header__container .header__content .header__name span {
            font-size: 25px; } }
        @media (max-width: 425px) {
          .header .header__container .header__content .header__name span {
            font-size: 20px; } }

.button {
  min-width: 80px;
  padding: 10px 0;
  border: 1px solid #ffc200;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #ffc200; }
  @media (max-width: 768px) {
    .button {
      min-width: 70px;
      padding: 7px 0; } }
  @media (max-width: 525px) {
    .button {
      min-width: 60px;
      padding: 5px 0; } }
  @media (max-width: 425px) {
    .button {
      min-width: 50px;
      padding: 5px 0; } }
  .button:hover {
    background-color: #423400;
    color: #cccccc; }

.button--outline {
  color: #000000;
  background-color: rgba(204, 204, 204, 0.61); }
  .button--outline:hover {
    color: #000000;
    background-color: #ffc200; }

.button--cart_totalPrice {
  transition: all 0.3s ease; }
  @media (max-width: 525px) {
    .button--cart_totalPrice {
      font-size: 13px; } }

.button--cart_totalItems {
  transition: all 0.3s ease; }
  @media (max-width: 525px) {
    .button--cart_totalItems {
      font-size: 13px; } }

.button--cartIcon {
  width: 35px;
  height: 35px; }
  @media (max-width: 525px) {
    .button--cartIcon {
      width: 30px;
      height: 30px; } }
  @media (max-width: 425px) {
    .button--cartIcon {
      width: 25px;
      height: 25px; } }

.button--buy {
  display: flex;
  justify-content: space-around;
  align-items: center; }

.categories {
  width: 100%; }
  .categories .categories__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    font-family: Arial, sans-serif; }
    @media (max-width: 768px) {
      .categories .categories__list {
        justify-content: flex-start; } }
    @media (max-width: 425px) {
      .categories .categories__list {
        justify-content: space-evenly; } }
    .categories .categories__list .categories__item {
      padding: 15px 20px;
      color: #000000;
      font-weight: 600;
      cursor: pointer;
      transition: all 0.3s ease; }
      .categories .categories__list .categories__item:hover {
        color: #ffc200; }
      @media (max-width: 525px) {
        .categories .categories__list .categories__item {
          padding: 10px 15px;
          font-size: 13px; } }
    .categories .categories__list .categories__item--active {
      color: #ffffff; }

.sort {
  position: relative;
  font-family: Arial, sans-serif; }
  @media (max-width: 425px) {
    .sort {
      width: 100%;
      text-align: center; } }
  .sort .sort__text {
    font-weight: 600;
    cursor: pointer;
    text-decoration: underline; }
  .sort .sort__popup {
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #ffc200;
    position: absolute;
    top: 130%;
    left: -10%; }
    .sort .sort__popup li {
      padding: 5px 5px;
      border-radius: 3px;
      color: #000000;
      cursor: pointer;
      transition: all 0.3s ease; }
    .sort .sort__popup li:hover {
      background-color: #ffffff; }
  .sort .active {
    background-color: #ffffff; }

.home__top {
  background-color: rgba(255, 194, 0, 0.4); }

.home__container {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 425px) {
    .home__container {
      flex-direction: column; } }

.home__container--pizzaItems {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap; }
  @media (max-width: 644px) {
    .home__container--pizzaItems {
      justify-content: center; } }

.pizza {
  width: 300px;
  font-family: Arial, sans-serif;
  border: 1px solid #ffc200;
  border-radius: 5px;
  background-color: rgba(204, 204, 204, 0.4);
  text-align: center;
  margin-bottom: 35px;
  padding: 10px; }
  .pizza__image {
    width: 260px; }
  .pizza__title {
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 1%;
    margin-bottom: 20px; }
  .pizza__selector {
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-radius: 10px;
    background-color: #f3f3f3; }
    .pizza__selector ul {
      display: flex;
      flex: 1;
      margin-bottom: 5px; }
      .pizza__selector ul li {
        flex: 1;
        padding: 5px;
        cursor: pointer;
        font-size: 14px;
        font-weight: 600; }
        .pizza__selector ul li:hover {
          background-color: rgba(196, 196, 196, 0.5);
          border-radius: 5px; }
        .pizza__selector ul li.active {
          background-color: rgba(196, 196, 196, 0.5);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          border-radius: 5px;
          cursor: auto; }
        .pizza__selector ul li.disabled {
          opacity: 0.4;
          pointer-events: none; }
  .pizza__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px; }
  .pizza__price {
    font-size: 22px;
    letter-spacing: 0.015rem;
    color: #ffc200; }
  .pizza__buyQuantity {
    padding-left: 10px;
    border-left: 1px solid #4d4d4d; }

.container {
  max-width: 1024px;
  margin: 0 auto; }

.app__content {
  background-image: url("../assets/images/background-02.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
